<div class='span3 offset4'>
  <div class='well'>
    <%= form_tag :action=> "login" do %>
    <h3 class='page-header'><%= _("Sign in") %></h3>
    <div id="flash"><%= render_the_flash %></div>
    <div class='clearfix'>
      <%= text_field(:user, :login, {:class => 'input-block-level', :placeholder => _("Login")})%>  
    </div>
    <div class='clearfix'>
      <%= password_field(:user, :password, {:class => 'input-block-level', :placeholder => _("Password")})%>
    </div>
    <div class='clearfix'>
      <input type="submit" name="login" class="btn btn-info" value= "<%= _('Sign in') %>" />
      <%= check_box_tag 'remember_me' %> <small><%= _('Remember me')%></small> 
    </div>	  
    <hr />
    <div class='clearfix'>
      <ul class='inline'>
        <%= [lost_password, create_account_link].join("<small class='muted'>•</small>") %>
      </ul>
    </div>
    <% end %>
  </div>
</div>
