<div class='span3 offset4'>
  <div class='well'>
    <%= form_tag :action=> "recover_password" do %>
    <h3 class='page-header'><%= _("Reset my password") %></h3>
    <div id="flash"><%= render_the_flash %></div>
    <div class='clearfix'>
      <%= text_field(:user, :login, {:class => 'input-block-level', :placeholder => _("Username or email")})%>  
    </div>
    <div class='clearfix'>
      <input type="submit" name="submit" class="btn btn-info" value= "<%= _('Reset my password') %>" />
    </div>
    <hr />
    <div class='clearfix'>
      <ul class='inline'>
        <%= [back_to_login, create_account_link].join("<small class='muted'>•</small>") %>
      </ul>
    </div>
    <% end %>
  </div>
</div>
